name: D365 Solution CI/CD

on:
  push:
    branches:
      - main
      - feature/**
  workflow_dispatch:

env:
  SOLUTION_NAME: test

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Power Platform CLI (pac)
        shell: pwsh
        run: |
          Write-Host "Installing Power Platform CLI via .NET tool..."
          dotnet tool install --global Microsoft.PowerApps.CLI.Tool

          $env:Path += ";$env:USERPROFILE\.dotnet\tools"

          Write-Host "PAC Installed Successfully"

      - name: Authenticate to D365 (Service Principal)
        shell: pwsh
        run: |
          pac auth create `
            --name GitHubConnection `
            --url "${{ secrets.ENVIRONMENTURL }}" `
            --applicationid "${{ secrets.CLIENTID }}" `
            --clientsecret "${{ secrets.CLIENTSECRETVALUE }}" `
            --tenant "${{ secrets.TENANTID }}" `
            --prompt never

          pac auth select --name GitHubConnection

      - name: Import Solution to Environment
        shell: pwsh
        run: |
          pac solution import `
            --path "solutions/${{ env.SOLUTION_NAME }}.managed.zip" `
            --overwrite-unmanaged-customizations `
            --publish
